# Linux Kernel Configuration for Android-x86 Guest (AndroidWebGPU v86)
# Target Architecture: 32-bit x86 (IA-32 / i686)
# Subsystems: Android BinderFS, Ashmem, Virtio-GPU DRM, Virtio-Console

# Core Architecture & Processor
CONFIG_64BIT=n
CONFIG_X86_32=y
CONFIG_X86=y
CONFIG_M686=y
CONFIG_SMP=y
CONFIG_NR_CPUS=2
CONFIG_PREEMPT=y
CONFIG_HZ_1000=y
CONFIG_HZ=1000

# Memory Management & General Setup
CONFIG_HIGHMEM4G=y
CONFIG_PAGE_OFFSET=0xC0000000
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_GZIP=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_EARLY_PRINTK=y

# Android Binder & BinderFS Subsystems
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDERFS=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"
CONFIG_ANDROID_BINDER_IPC_32BIT=n
CONFIG_ANDROID_BINDER_IPC_SELFTEST=y
CONFIG_ASHMEM=y

# Networking & Unix Domain Sockets (Zygote & InputChannel)
CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_INET=y

# Serial & TTY Console
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=4
CONFIG_SERIAL_8250_RUNTIME_UARTS=4

# Virtio Bus, Console, & Storage
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_VIRTIO_RING=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_BLK=y

# DRM & Virtio-GPU Display Subsystem
CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB=y
CONFIG_FB_MODE_HELPERS=y

# Input & Event Subsystems
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_INPUT_MOUSE=y

# Power Management & ACPI
CONFIG_PM=y
CONFIG_ACPI=y
